:root {
  --main-font: 'Barlow', sans-serif;
  --second-font: 'Fraunces', serif;
  --main-font-color: #808397;
  --headers-color: #24303E;
  --headers-color-white: #fff;
  --footers-main-color: #2C7566;
  --main-grey-color: #A7AAAD;
  --main-border-radius: 50%;
  --main-transition: background-color 0.3s ease, border 0.3s ease, color 0.3s ease, opacity 0.3s ease;
}


/* GENERAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: var(--main-font);
  color: var(--main-font-color);
  background-color: #fff;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* CONTAINER */
.container {
  width: 100%;
  max-width: 1440px;
  /* padding-left: 30px;
  padding-right: 30px; */
  margin-left: auto;
  margin-right: auto;
}


header{
  background-color: #4ABDF2;
}
.header .container{
  padding: 0 30px;
}
.header__inner{
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  position: relative;
  align-items: center;
}
.site-nav{
  width: 100%;
  background-color: var(--headers-color-white);
  position: absolute;
  margin-top: 350px;
  left: 50%;
  transform-origin: top right;
  transform: translateX(-50%) scale(0);
  transition: 0.5s;
  display: block;
}
.site-nav--open{
  /* display: block; */
  transform: translateX(-50%)  scale(1);
}
.site-nav::before{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  border: 20px solid var(--headers-color-white);
  border-left: none;
  border-top-color: transparent;
  border-bottom-color: transparent;
  transform: translateY(-50%);

}
.hamburger{
  border: none;
  background-color: transparent;
  width: 24px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
}
.hamburger span{
  width: 100%;
  height: 2px;
  background-color: #fff;
  transition: 0.3s;
  position: relative;
}
.hamburger span::before{
  content: '';
  position: absolute;
  top: -8px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  /* transform-origin: center; */
  transition: 0.2s;
}
.hamburger span::after{
  content: '';
  position: absolute;
  top: 8px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  /* transform-origin: center; */
  transition: 0.2s;
}
.opened span{
  /* transform: translateX(-20px); */
  background: transparent;
}
.opened span::before{
  transform: rotate(135deg) translateX(0px) translateY(-10px);
  /* left: 50%; */
}

.opened span::after{
  transform: rotate(-135deg) translateX(0px) translateY(10px);
}


.site-nav__list{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0 0;
  list-style: none;
  margin: 0;
}
.site-nav__link{
  text-decoration: none;
  color: var(--main-font-color);
}
.site-nav__item{
  margin-bottom: 32px;
}
.site-nav__item:last-child .site-nav__link{
  color: var(--headers-color);
  font-weight: bold;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: -0.1;
  text-transform: uppercase;
  border-radius: 28px;
  background: #FBD600;
  padding: 16px 32px;
  font-family: var(--second-font);
}




/* Hero */


.hero{
  background: #4ABDF2 url(../img/hero-bg.png);
  background-position: center bottom;
  background-repeat: no-repeat;
  padding-bottom: 250px;
}
.hero__header{
  margin-top: 80px;
  font-family: var(--second-font);
  font-weight: 900;
  font-size: 40px;
  line-height: 49px;
  text-align: center;
  letter-spacing: 6.25px;
  text-transform: uppercase;
  color: var(--headers-color-white);
}

@media only screen and (min-width: 768px) {
  .header__inner{
    align-items: center;
    margin: 40px 0;
  }
  .site-nav{
    margin-top: 0;
    width: auto;
    position: static;
    transform: scale(1);
    background-color: transparent;
  }
  .site-nav::before{
    display: none;
  }
  .hamburger{
    display: none;
  }
  .site-nav__list{
    flex-direction: row;
    padding: 0;
    align-items: center;
    justify-content: center;
  }
  .site-nav__item{
    margin-bottom: 0;
    margin-right: 47px;
  }
  .site-nav__item:last-child{
    margin-right: 0;
  }
  .site-nav__link{
    color: var(--headers-color-white);
  }
  .site-nav__item:last-child .site-nav__link{
    color: var(--headers-color-white);
    background: rgba(255, 255, 255, 0.25);
  }
}


@media only screen and (min-width: 1024px) {
  .hero{
    padding-bottom: 450px;
    background-image: url('../img/herobg_desktop.png');
  }
}



/* Content */
.content__item{
  display: flex;
  flex-direction: column-reverse;
}
.content__img img{
  width: 100%;
}
.item__text{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 24px;
}
.item__header{
  margin: 0;
  margin-top: 48px;
  font-family: var(--second-font);
  color: var(--headers-color);
  font-weight: 900;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  letter-spacing: -0.25;
}
.item__description{
  text-align: center;
  margin-top: 24px;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.12;
}

@media only screen and (min-width: 768px) {
  .content__item{
    display: flex;
    flex-direction: row;
  }
  .content__item > *{
    flex: 1;
  }
}